:root {
    font-size: 62.5%;
    font-family: cairo;
}

*{
    margin: 0;
    box-sizing: border-box;
}
.btn {
    background-color: black;
}

@media screen and (max-width:679px) {
    .hero {
        position: relative;
        width: 100%;
        height: 36rem;
        padding-top: 3rem;
    }
    .hero-img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero-img1{
        background-image: url("./images/mobile-image-hero-1.jpg");
    }
    .hero-img2{
        background-image: url("./images/mobile-image-hero-2.jpg");
    }
    .hero-img3{
        background-image: url("./images/mobile-image-hero-3.jpg");
    }    
    .navbar {
        position: fixed;
        top: -8rem;
        left: 0;
        width: 100%;
        height: 8rem;
        padding-right: 1rem;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .navbar div {
        font-size: 1.7rem;
        margin-left: 2rem;
        width: fit-content;
        position: relative;
    }
    header .nav {
        background-image: url("./images/desktop-image-hero-1.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
    .img1,.img2 {
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        z-index: 3;
    }

    .menu .bar {
        background-color:white;
        height: .3rem;
        width: 3rem;
        border: none;
        border-radius: 0.25rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-left: 10%;
        background-color: black;
    }
    .header img {
        width: 35%;
        z-index: 1;
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: calc(100% - 6rem);
        z-index: 3;
    }
    .btn {
        height: 6rem;
        width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .btn:hover {
        background-color: rgb(134, 132, 132);
    }
    .main,.about {
        width: 80%;
        margin-left: 10%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main-header,.about-header {
        font-size: 2.5rem;
        max-width: 18ch;
        line-height: 3rem;
        font-weight: 800;
    }
    .main-header {
        display: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
    .main-text {
        display: none;
}
    .main-text,.about-text {
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 3ch;
    }
    .main-CTA {
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .main-CTA img {
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
}

@media screen and (min-width:1025px){
    html {
        position: relative;
    }
    .hero {
        position: relative;
        width: 60%;
        height: 50rem;
        padding-top: 5rem;
    }
    .hero-img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero-img1{
        background-image: url("./images/desktop-image-hero-1.jpg");
    }
    .hero-img2{
        background-image: url("./images/desktop-image-hero-2.jpg");
    }
    .hero-img3{
        background-image: url("./images/desktop-image-hero-3.jpg");
    } 
    .navbar {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        z-index: 2;
        top: 4rem;
        left: 15rem;
    }
    .header img {
        position: absolute;
        z-index: 2;
        left: 6rem;
    }
    .navbar #nav {
        font-size: 1.6rem;
        font-weight: 600;
        color: white;
    }
    .btn-container {
        z-index: 3;
        top: calc(100% - 6rem);
        left: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .btn {
        height: 6rem;
        width: 6rem;
    }
    .main {
        width: 40%;
        position: absolute;
        top: 0;
        left: 60%;
        padding: 10rem;
    }
    .main-header,.about-header {
        font-size: 3rem;
        max-width: 16ch;
        line-height: 4rem;
        font-weight: 800;
    }
    .main-text,.about-text {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 2rem;
    }
    .main-CTA {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        cursor: default;
        margin-top: 2rem;
    }
    .img1,.img2 {
        width: 30%;
        position: absolute;
        top: 50rem;
    }
    .img2 {
        right: 0;
        width: calc(40% - 12rem);
    }
    .about {
        width: 40%;
        position: absolute;
        top: 50rem;
        left: 30%;
        padding: 5rem;
    }
    .main-CTA img {
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    #nav::after {
        content: '';
        display: block;
        width: 0;
        position:absolute;
        height: 2px;
        background: white;
        transition: cubic-bezier(.77,0,.18,1) 0.7s;
        -webkit-transition: cubic-bezier(.77,0,.18,1) 0.7s;
        -moz-transition: cubic-bezier(.77,0,.18,1) 0.7s;
        -ms-transition: cubic-bezier(.77,0,.18,1) 0.7s;
        -o-transition: cubic-bezier(.77,0,.18,1) 0.7s;
}
    #nav:hover::after {
        width: 12%;
    }
    #nav:hover {
        color: rgba(255, 255, 255, 0.781);
        cursor: default;
    }
}


.barToggle1{
    transform: rotate(45deg) translate(5px,6px);
    -webkit-transform: rotate(45deg) translate(5px,6px);
    -moz-transform: rotate(45deg) translate(5px,6px);
    -ms-transform: rotate(45deg) translate(5px,6px);
    -o-transform: rotate(45deg) translate(5px,6px);
}

.barToggle2{
    opacity: 0;
}
.barToggle3{
    transform: rotate(-45deg) translate(5px,-6px);
    -webkit-transform: rotate(-45deg) translate(5px,-6px);
    -moz-transform: rotate(-45deg) translate(5px,-6px);
    -ms-transform: rotate(-45deg) translate(5px,-6px);
    -o-transform: rotate(-45deg) translate(5px,-6px);
}
